
@media screen and (max-width: 700px) {
    body{
        margin: 0;
    }
    .container{
        width: 150vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-image{
        display: none;
    }
    .login-input{
        display: none;
    }
    .login-input-responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .h1-responsive{
        font-size: 3rem;
    }
}